.nova-denuncia-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(0, 0, 0, 0.3);
}

.nova-denuncia-card {
  width: 90%;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  padding: 1.5rem;

  background-color: var(--white);
  border-radius: 20px;

  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
}

.nova-denuncia-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  margin-bottom: 1.5rem;
}

.nova-denuncia-header img {
  width: 1.25rem;
}

.nova-denuncia-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.nova-denuncia-content form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nova-denuncia-content form label span {
  opacity: 70%;
}

.nova-denuncia-content form input {
  width: 100%;

  padding: 0.75rem 1rem;

  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--gray);
}

.nova-denuncia-content form input:focus {
  border: 2px solid var(--main);
  outline: none;
}

.nova-denuncia-content .nova-denuncia-foto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--white);
  color: var(--main);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1rem;

  border-radius: 10px;

  margin-top: 0.25rem;
  padding: 0.75rem;
}

.nova-denuncia-content .nova-denuncia-foto-btn img {
  width: 1rem;
}

#nova-denuncia-foto {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#preview-foto-local {
  width: 100%;

  margin-top: 1rem;

  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.nova-denuncia-content form textarea {
  max-width: 100%;
  min-width: 100%;

  min-height: 5rem;

  padding: 0.75rem 1rem;

  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--gray);
}

.nova-denuncia-content form textarea:focus {
  border: 2px solid var(--main);
  outline: none;
}

.localizacao-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 0.5rem;
  padding: 0.75rem;

  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  font-weight: 600;
}

.localizacao-btn img {
  width: 1rem;
}

.nova-denuncia-content form button {
  background-color: var(--main);
  color: var(--white);
  border-radius: 10px;

  padding: 0.75rem;
}

