header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  z-index: 100;
  background-color: var(--white);
}

header a img {
  width: 1.5rem;
}

main {
  margin-top: 5rem;
  height: calc(100vh - 5rem);

}

.nova-denuncia-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 5rem;
  bottom: 5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.nova-denuncia-btn-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--white);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.nova-denuncia-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;

  padding-bottom: 7rem;
}

.nova-denuncia-content form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

}

.nova-denuncia-content form label span {
  opacity: 70%;
}

.nova-denuncia-content form input {
  width: 100%;

  padding: 0.75rem 1rem;

  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--gray);
}

.nova-denuncia-content form input:focus {
  border: 2px solid var(--main);
  outline: none;
}

.nova-denuncia-content .nova-denuncia-foto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--white);
  color: var(--main);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1rem;

  border-radius: 10px;

  margin-top: 0.25rem;
  padding: 0.75rem;
}

.nova-denuncia-content .nova-denuncia-foto-btn img {
  width: 1rem;
}

#nova-denuncia-foto {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#preview-foto-local {
  width: 100%;

  margin-top: 1rem;

  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.nova-denuncia-content form textarea {
  max-width: 100%;
  min-width: 100%;

  min-height: 5rem;

  padding: 0.75rem 1rem;

  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--gray);
}

.nova-denuncia-content form textarea:focus {
  border: 2px solid var(--main);
  outline: none;
}

.localizacao-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 0.5rem;
  padding: 0.75rem;

  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  font-weight: 600;
}

.localizacao-btn img {
  width: 1rem;
}

.nova-denuncia-content button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--main);
  color: var(--white);
  border-radius: 10px;

  padding: 0.75rem;
width: 100%;
}

.msg-erro {
  display: none;
  color: red;
  font-size: 14px;
}

#msg-erro-dinamica {
  text-align: center;
}

#nova-denuncia-localizacao-erro {
  margin-top: .75rem;
}

.nova-denuncia-btn-loading-container {
  display: none;
  align-items: center;
  justify-content: center;
}

#nova-denuncia-btn-loading {
  width: 2.7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0, 0.09);
  border-right-color: var(--main);
  animation: l2 1s infinite linear;
}

#mapa-nova-denuncia {
  display: none;
  height: 15rem;

  margin-top: 1.5rem;
  border-radius: 10px;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}